---
layout: layouts/base.njk
templateClass: tmpl-home
---
<div class="center-col">

    <div class="content">
    {{ content | safe }}
    </div>

    <div class="announcement">
       <h3>Why Vague But Exciting?</h3>

<p>They were the words that Tim Berners-Lee's then boss wrote on his proposal for an information management system. A system that turned into the world wide web. I thought that would be a pretty cool name for a website, so here we are.</p>

<p>You can read more about it on <a href="//info.cern.ch/Proposal.html">the CERN website</a>.</p>
    </div>

</div>

