---
layout: layouts/base.njk
templateClass: tmpl-home
---
 <div class="announcement">
    <h3>I made three New Year's Resolutions in 2020:</h3>
        <ul>
            <li>Buy some new glasses (been meaning to do this for nearly a decade)</li>
            <li>Start a blog (again)</li>
            <li>Can't remember the third one</li>
        </ul>
            <p><em>Hence this site.</em> Starting off with a really basic theme, plan is to slowly make it look... less basic. No rush though, is there?</p>
</div>

{{ content | safe }}
