---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article class="center-col">
<h1>{{ title }}</h1>
<p class"datestamp"><em>{{ page.date.toDateString() }}</em></p>

{{ content | safe }}

{% footnotes %}

<p><a href="{{ '/' | url }}">← Home</a></p>
</article>